* {
	/*
		https://www.realtimecolors.com/dashboard?colors=dee7ed-3b4a5e-24447a-1c2c3f-66a8ff&fonts=Poppins-Poppins
	*/
	-text: rgb(221,230,237);
	-background: rgb(59, 74, 94);
	-primary: rgb(36, 67, 121);
    -secondary: rgb(29, 45, 65);
    -accent: rgb(100, 167, 255);
    
    -fx-font-size: 16px;
    -fx-text-fill: -text;
}

#menuPane{
	-fx-background-color: -secondary;
	-fx-alignement: center;
	
	/* next 2 lines to create margin */
	-fx-padding: 30 0 0 0;
    -fx-border-insets: 30 0 0 0;

    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}

#menuPane .button {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: -secondary;

	-fx-pref-width: 150px;
	-fx-pref-height: 50px;
}

#menuButtons{
	-fx-spacing: 2px;
}

#menuPane .button:hover, #menuPane .button:focused:hover {
    -fx-effect: innershadow(three-pass-box, rgba(200,200,200,0.2), 15, 0, 0, 0);
    /*-fx-background-color: -primary;*/
    /*-fx-text-fill: -secondary;*/
    /*-fx-text-fill: red;*/
    -fx-padding: 0 0 0 8px;
}

#menuPane .button:focused:hover{
	-fx-padding: 0;
	-fx-effect: none;
}

#menuPane .button:focused {
	-fx-background-color: -background;
	

}
/*
#menuPane .button:pressed {
    
}



#menuPane .button:disabled, #menuPane .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #DDE6ED;
    -fx-text-fill: yellow;
}
*/
#content{
	-fx-background-color: -background;
	-fx-padding: 20;

	
}

#content Label{
	-fx-text-fill: -text;
	-fx-wrap-text: true;
	/*-fx-padding: 0 0 16 0;*/
}



